:root {
    --color-bg: #ffffff;
    --color-bg-alt: #f9f9f7;
    --color-bg-dark: #111111;
    --color-text: #111111;
    --color-muted: #888888;
    --color-faint: #bbbbbb;
    --color-rule: #e0e0e0;
    --color-accent: #e8ff00;


    --font-display: var(--font-playfair);
    --font-mono: var(--font-ibm-plex-mono);

    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 48px;
    --space-xl: 96px;
    --space-xxl: 160px;

    --max-content: 780px;
    --max-site: 1440px;
}